.landing-wrapper {
  height: 100vh;
  background-color:  grey;
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
}

@media (max-width: 480px) {
  .landing-wrapper {
    background-color:  grey;
  }
}